* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.loginstatus {
    order: 9;
    margin-left: 10px;
    color: black;
    position: relative;
    left: 65%;
}

.settings {
    position: relative;
    left: 2%;
}

.navBar {
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
    align-items: center;
    height: 5em;
}

.logo {
    order: 1;
    margin-left: 10px;
    color: black;
    position: relative;
    left: 4%;
}

div.filters {
    position: absolute;
    left: 15%;
}

p#textFilters {
    font-size: 20px;
    height: 50%;
    width: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

.separator_menu_from_others {
    border-left: 1px solid black;
    min-height: 100vh;
    position: absolute;
    left: 10%;
}

.search {
    order: 2;
    left: 40%;
    position: relative;
    width: 300px;
    height: 40px;
    left: 10%;
    position: relative;
    width: 300px;
    height: 30px;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
}

.sidenav {
    width: 200px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 0;
    background: azure;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav p:hover {
    color: green;
}


/* Dropdown Button */

.type,
.longevitate,
.habitat {
    background-color: azure;
    color: green;
    position: relative;
    left: 20%;
    padding: 16px;
    font-size: 20px;
    border: none;
}

button#generateAlbum,
button#generateStats,
button#generateOrder,
button#generateAlbum,
button#predefinedAlbums,
button#myAlbums {
    display: flex;
    background-color: aquamarine;
    border: none;
    color: green;
    padding: 20px;
    width: 140px;
    position: relative;
    left: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    margin: 4px 1px;
}

.dropdown1,
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content1,
.dropdown-content2 {
    display: none;
    position: relative;
    background-color: aquamarine;
    min-width: 100px;
    width: 100px;
    height: 100px;
    left: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    z-index: 1;
}

.dropdown-content1 a,
.dropdown-content2 a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2 {
    display: grid;
}

div#settings {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    border: 2px solid azure;
    text-align: center;
    position: relative;
    left: 91%;
    display: none;
}

div#settings a {
    text-decoration: none;
}