* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans';
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #72b0c9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5em;
    z-index: 2;
    box-shadow: 0 0 3px 1px #2b4868;
}

a#admin,
#adminMenu {
    display: none;
}

.menuIcon {
    cursor: pointer;
    order: 1;
    width: 1.5em;
    height: 2em;
    margin-top: 10px;
    margin-left: 10px;
}

.menuLogo {
    order: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    align-items: center;
}

.logo {
    order: 2;
    height: 88%;
    width: auto;
    margin-left: 5em;
}

.userOptions {
    order: 3;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;
}

#arrow {
    cursor: pointer;
    width: 16px;
    height: 24px;
    margin-top: 8px;
    margin-right: 10px;
}

.username {
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.log {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 150px;
    position: fixed;
    right: 0;
    margin-top: 3.5em;
    background-color: #bbddeb;
    text-align: center;
    font-size: medium;
    z-index: 1;
}

.log:hover {
    box-shadow: 0 0 8px 1px #2b4868;
}

.logText {
    text-decoration: none;
    color: #2b4868;
}

.log a:hover {
    font-weight: bold;
}

#loginBtn {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #2b4868;
    margin-top: 5px;
}

#loginBtn:hover {
    font-size: 19px;
}

.searchBar {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: 280px;
    margin-right: 140px;
}

.searchBar:hover {
    box-shadow: 0 0 6px 1px #2b4868;
}

.searchButton {
    cursor: pointer;
    background-color: #bbddeb;
    height: 2.5em;
    width: 2.5em;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.searchButton:hover {
    background-color: #a5cedf;
}

.searchInput {
    background-color: white;
    height: 2.5em;
    width: auto;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding-left: 15px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    height: 60%;
    width: auto;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #bbddeb;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 3.5em;
    width: 260px;
    overflow: auto;
    z-index: 1;
}

.menu:hover {
    box-shadow: 0 0 8px 1px #2b4868;
}

.containerMenu,
.generateAlbum,
.myAlbums,
.albums,
.sharedAlbums {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

#mainImage {
    position: absolute;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    bottom: 0;
}

#userInstructions {
    background: none;
    border: none;
    font-size: 20px;
    color: #2b4868;
}

#userInstructions:hover {
    cursor: pointer;
    font-weight: bold;
}

#download_pdf,
#download_csv {
    display: none;
}

.containerMenu,
.generateAlbum,
.albums,
.myAlbums {
    box-shadow: 0px 2px 2px #72b0c9;
}

.containerMenu {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.generateAlbum,
.myAlbums,
.albums,
.sharedAlbums {
    padding-top: 15px;
    padding-bottom: 15px;
}

#userMenu {
    font-size: x-large;
    font-weight: 800;
    color: #2b4868;
    margin-bottom: 0;
}

.menuButton {
    cursor: pointer;
    width: 84%;
    height: 2.5em;
    background-color: #72b0c9;
    color: black;
    font-size: medium;
    border-radius: 10px;
    margin-top: 1em;
    border: solid 2px #2b4868;
}

.menuButton:hover {
    box-shadow: 0 0 10px 1px #2b4868;
}

.subtitle {
    font-size: larger;
    font-weight: 600;
    color: #2b4868;
}

.properties {
    font-size: medium;
    margin-top: 15px;
    color: #2b4868;
    margin-bottom: 5px;
}

.select {
    width: 60%;
    height: 2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.select:hover {
    box-shadow: 0 0 6px 1px #2b4868;
}

option {
    font-size: 13px;
}

#myalb,
#alb,
#shareAlb {
    margin-bottom: 1em;
}

.content {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#title {
    color: #2b4868;
    margin-top: 3.5em auto 1em auto;
    text-align: center;
    text-shadow: 1px 1px 2px #72b0c9;
}

.filters {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: auto;
    background-color: #bbddeb;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#filtersText {
    font-size: larger;
    font-weight: 600;
    color: #2b4868;
}

#orderBy {
    font-size: 15px;
    font-weight: 450;
    margin-left: 10px;
    margin-top: 3px;
}

.fils {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

label[for="f1"],
label[for="f2"],
label[for="f3"],
label[for="f4"],
label[for="f5"] {
    font-size: 15px;
    color: black;
}

#apply {
    font-size: 14px;
    font-weight: 600;
    color: #2b4868;
    border: none;
    background-color: #bbddeb;
    cursor: pointer;
}

.cardsContainer {
    z-index: 0;
    margin-top: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    position: relative;
    margin: 1em;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px #2b4868;
}

.card:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 1);
}

.cardBackground {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.cardInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.animalImage {
    width: 50%;
    height: 98%;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.animalName {
    margin: auto;
    width: auto;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 10px white;
}

.likes {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}

.likesIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.numberOfLikes {
    color: black;
}

.menu .username,
.menu .logText {
    display: none;
}

.modal {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    padding-top: 4em;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.aboutContent {
    position: relative;
    width: 50%;
    overflow-y: initial !important;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

.aboutHeader {
    padding: 2px 16px;
    background-color: #2c4868;
    color: white;
    text-align: center;
}

.aboutBody {
    max-height: 500px;
    overflow-y: auto;
    font-size: medium;
    padding: 2px 16px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.saveAndshare {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#saveBtnId,
#shareBtnId {
    font-size: 16px;
    text-decoration: none;
    margin: 20px 30px;
    color: #2b4868;
    border: 1px solid #2b4868;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 6px 10px;
    background-color: #bbddeb;
}

#saveBtnId:hover,
#shareBtnId:hover {
    box-shadow: 0 0 3px 1px #2b4868;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#loginMenu,
#logoutMenu,
#adminMenu {
    text-decoration: none;
    color: #2b4868;
    margin: 8px 0;
}

.appear {
    display: none;
    margin: 10px auto 0 auto;
    text-align: center;
}

@media all and (max-width: 500px) {
    .appear {
        display: block;
    }
}

@media all and (max-width: 1050px) {
    .searchBar {
        margin-left: 100px;
    }
}

@media all and (max-width: 800px) {
    .searchBar {
        margin-right: 0;
        margin-left: 20px;
    }

    .logo {
        width: 140px;
    }
}

@media all and (max-width: 860px) {
    .searchBar {
        margin-left: 80px;
    }
}

@media all and (max-width: 920px) {
    .searchBar {
        margin-right: 50px;
    }
}

@media all and (max-width: 1000px) {
    .aboutContent {
        width: 60%;
    }
}

@media all and (max-width: 900px) {
    .aboutContent {
        width: 70%;
    }
}

@media all and (max-width: 600px) {
    .aboutContent {
        width: 80%;
    }

    .aboutBody {
        font-size: small;
    }
}

@media all and (max-width: 1220px) {
    .filters {
        width: 80%;
    }

    .menu {
        width: 240px;
    }
}

@media all and (max-width: 930px) {
    .filters {
        width: 90%;
    }

    .logo {
        margin-left: 3em;
    }
}

@media all and (max-width: 930px) {
    .filters {
        width: 96%;
    }

    .logo {
        margin-left: 2em;
    }
}

@media all and (max-width: 930px) {
    .filters {
        width: 96%;
    }

    .logo {
        margin-left: 2em;
    }
}


@media all and (max-width: 750px) {

    .filters {
        background-color: white;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    #filtersText {
        margin-bottom: 8px;
        flex-direction: column;
    }

    .fils {
        padding: 5px 8px;
        background-color: #bbddeb;
        margin-top: 8px;
        margin-bottom: 14px;
        width: 70%;
    }

    #orderBy {
        margin-right: 6px;
        font-size: 15px;
        font-weight: 400;
    }

    #apply {
        font-size: 16px;
        height: 1.5em;
    }

    .card {
        width: 600px;
    }

    .animalName {
        font-size: 40px;
    }
}

@media all and (max-width: 670px) {
    .fils {
        width: 90%;
    }
}

@media all and (max-width: 630px) {
    .fils {
        width: 98%;
    }

    .card {
        width: 500px;
        height: 250px;
    }

    .animalName {
        font-weight: 450;
    }

    .logo {
        display: none;
    }
}

@media all and (max-width: 600px) {
    #mainImage {
        display: none;
    }
}

@media all and (max-width: 570px) {

    .fils {
        flex-direction: column;
        align-items: center;
        width: auto;
        background-color: white;
        padding: 0;
    }

    #apply {
        font-size: 17px;
    }
}

@media all and (max-width: 540px) {
    .card {
        width: 450px;
        height: 250px;
    }

    .animalName {
        font-size: 30px;
        font-weight: 500;
    }
}

@media all and (max-width: 500px) {

    #loginBtn {
        font-size: 15px;
    }

    #arrow {
        width: 13px;
        height: 20px;
    }

    .menu {
        width: 100%;
    }

    .menu .username {
        order: 5;
        display: flex;
    }

    .menu .logText {
        display: block;
        order: 7;
    }

    .menu .logText,
    .menu .username {
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
    }

    .menuButton {
        width: 60%;
    }

    .select {
        width: 50%;
        height: 2.5em;
    }

    .properties {
        font-size: larger;
    }
}

@media all and (max-width: 480px) {
    .card {
        width: 400px;
        height: 200px;
    }
}

@media all and (max-width: 430px) {
    .card {
        width: 350px;
        height: 190px;
    }

    .searchBar {
        margin-left: 30px;
        margin-right: 20px;
    }

    .animalImage {
        display: none;
    }

    .cardBackground {
        opacity: 0.8;
    }

    .likes {
        display: none;
    }

    .userOptions {
        display: none;
    }

    .animalName {
        color: white;
        text-shadow: 3px 3px 6px black;
    }
}

@media all and (max-width: 390px) {
    .card {
        width: 320px;
        height: 180px;
    }
}

@media all and (max-width: 380px) {
    .card {
        width: 300px;
    }
}

@media all and (max-width: 350px) {
    .card {
        width: 260px;
        height: 160;
    }
}

@media all and (max-width: 310px) {
    .card {
        width: 250px;
        height: 160;
    }
}